/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-image: url("BG.jpg");
    background-size: cover;
    /*background-color: #f4f4f4;*/
    margin: 0;
    padding: 20px;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin-bottom: 20px;
    font-size: xx-large;
    color: #015f51;
    text-align: center;

}

.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}



.form-table td {
    padding: 10px;
    border: 0px solid #ddd;
    
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 5px;
}

.dual-list {
    display: flex;
    justify-content: space-between;
}

.checkbox-container {
    width: 100%;
    border-radius: 4px;
    background-color: #e4e4e4;
}

.search-box {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 4px;
}

.checkbox-list {
    overflow-y: auto;
    max-height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.checkbox-label {
    margin-left: 8px;
}

#selected-dimensions,
#selected-metrics {
    margin-top: 10px;
    
}

.btn-primary {
    background-color: #015f51;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}

.btn-primary:hover {
    background-color: #09a78f;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the spinner is on top of other elements */
}

#spinnerContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Make sure the spinner covers the entire screen */
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000; /* Ensure a high z-index */
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #015f51;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute; /* Adjust positioning for centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the spinner */
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-message {
    color: #dc3545;
    margin-top: 10px;
}

